<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{ sidebar :: layout(~{::title} , ~{::section}) }">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>ViewApplication</title>

</head>
<body>
	<section style="height: 93vh;">
		<div class="container ">
			<h2 class="text-center">ViewApplication</h2>
			<div class="container mt-5">


				<table id="applicationsTable"
					class="table table-striped table-bordered">
					<thead class="table-dark">
						<tr>
							<th>S.No</th>
							<th>Case Num</th>
							<th>Name</th>
							<th>Mobile Number</th>
							<th>Gender</th>
							<th>SSN</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="app, stat : ${applications}">
							<td th:text="${stat.index + 1}"></td>
							<td th:text="${app.caseNum}"></td>
							<td th:text="${app.name}"></td>
							<td th:text="${app.mobileNumber}"></td>
							<td th:text="${app.gender}"></td>
							<td th:text="${app.ssn}"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		</div>
	</section>
</body>
</html>
