<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{ sidebar :: layout(~{::title} , ~{::section}) }">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>ViewApplication</title>

</head>
<body>
	<section style="height: 93vh;">
		<div class="container ">
			<h2 class="text-center">ViewApplication</h2>
			<div class="container mt-5">
				<h4 class="mb-5">Click on CaseNo link to Select Plan</h4>

				<table id="applicationsTable"
					class="table table-striped table-bordered">
					<thead class="table-dark">
						<tr>
							<th>SNo</th>
							<th>Case Number</th>
							<th>Name</th>
							<th>Mobile Number</th>
							<th>Gender</th>
							<th>AadharNumber</th>
							<th>CityName</th>
							<th>StateName</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="app,stat : ${applications}">
							<td th:text="${stat.index+1}"></td>
							<td><a
								th:href="@{/IES/DC/planSelection(caseNo=${app.caseNo})}"
								th:text="${app.caseNo}"></a></td>
							<td th:text="${app.fullName}"></td>
							<td th:text="${app.mobileno}"></td>
							<td th:text="${app.gender}"></td>
							<td th:text="${app.aadhaarNumber}"></td>
							<td th:text="${app.cityName}"></td>
							<td th:text="${app.stateName}"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

	</section>
</body>
</html>
