<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{ sidebar :: layout(~{::title} , ~{::section}) }">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>IncomeDetails</title>

</head>
<body>
	<section style="height: 93vh;">
		<div class="container ">
			<h2 class="text-center">Income Details</h2>
			<div class="container mt-5">


				<form action="@{/submitIncome}" object="${incomeDetails}"
					method="post">
					<div class="mb-3">
						<label for="caseNumber" class="form-label">Case Number</label> <input
							type="text" class="form-control" id="caseNumber"
							field="*{caseNumber}" readonly>
					</div>

					<div class="row">
						<div class="col-md-6 mb-3">
							<label for="salaryIncome" class="form-label">Monthly
								Salary Income</label> <input type="text" class="form-control"
								id="salaryIncome" field="*{salaryIncome}" required>
						</div>
						<div class="col-md-6 mb-3">
							<label for="rentIncome" class="form-label">Rent Income</label> <input
								type="text" class="form-control" id="rentIncome"
								field="*{rentIncome}" required>
						</div>
					</div>

					<div class="mb-3">
						<label for="propertyIncome" class="form-label">Property
							Income</label> <input type="text" class="form-control"
							id="propertyIncome" field="*{propertyIncome}" required>
					</div>

					<button type="submit" class="btn btn-primary">Submit</button>
				</form>
			</div>
		</div>
		</div>
	</section>
</body>
</html>
