<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{ sidebar :: layout(~{::title} , ~{::section}) }">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>PlanSelection</title>

</head>
<body>
	<section style="height: 93vh;">
		<div class="container ">
			<h2 class="text-center">Plan Selection</h2>
			<div class="container mt-5">
    

        <form  action="@{/submitPlan}" object="${planSelection}" method="post">
            <div class="mb-3">
                <label for="caseNumber" class="form-label">Case Number</label>
                <input type="text" class="form-control" id="caseNumber" field="*{caseNumber}" required>
            </div>

            <div class="mb-3">
                <label for="planName" class="form-label">Plan Name</label>
                <select class="form-select" id="planName" field="*{planName}" required>
                    <option value="">-- Select Plan --</option>
                    <option value="SNAP">SNAP</option>
                    <option value="CCAP">CCAP</option>
                    <option value="Medicaid">Medicaid</option>
                    <option value="Medicare">Medicare</option>
                    <option value="QHP">QHP</option>
                    <option value="RIW">RIW</option>
                </select>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
		</div>
	</section>
</body>
</html>
