<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{ sidebar :: layout(~{::title} , ~{::section}) }">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Eligibility Determination</title>
</head>
<body>
	<section style="height: 93vh;">
		<div class="container">
			<h2 class="text-center">Eligibility Determination</h2>
			<div class="container mt-4">
			<p th:text="${succMsg}" class="text-primary">
			<p th:text="${errMsg}" class="text-danger">
				<form th:action="@{/IES/ED/checkeligibility}" method="post">
					<div class="mb-3">
						<label for="caseNumber" class="form-label">Case Number</label> <input
							type="text" id="caseNumber" name="caseNo" class="form-control"
							th:value="${caseNo}" placeholder="Enter Case Number" required>
					</div>
					<button type="submit" class="btn btn-primary">Determine
						Eligibility</button>
				</form>
			</div>
		</div>
		<div class="container mt-4">
			<table id="eligibilityTable" class="table table-striped">
				<thead class="table-dark">
					<tr>
						<th>S.NO</th>
						<th>Plan Name</th>
						<th>Case Number</th>
						<th>Plan Status</th>
						<th>Start Date</th>
						<th>End Date</th>
						<th>Benefit Amount</th>
						<th>Denial Reason</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="eligibility, iterStat : ${eligibilityList}">
						<td th:text="${iterStat.index + 1}"></td>
						<td th:text="${eligibility.planName}"></td>
						<td th:text="${eligibility.caseNo}"></td>
						<td><span
							th:class="${eligibility.planStatus == 'Approved' ? 'badge bg-success' : 'badge bg-danger'}"
							th:text="${eligibility.planStatus}"> </span></td>
						<td th:text="${eligibility.eligStartDate}"></td>
						<td th:text="${eligibility.eligEndDate}"></td>
						<td th:text="${eligibility.benifitAmt}"></td>
						<td th:text="${eligibility.denialReason}"></td>
					</tr>
				</tbody>
			</table>
			<div class="d-flex justify-content-between">
				<p>
					Showing <span th:text="${(currentPage )}"></span> to <span
						th:text="${(currentPage) > totalItems ?  currentPage: (totalPages)}"></span>
					of <span th:text="${totalPages}"></span> entries
				</p>

				<nav>
					<ul class="pagination">
						<li class="page-item"
							th:classappend="${currentPage == 1} ? 'disabled'"><a
							class="page-link" th:href="@{(${currentPage} - 1)}">Previous</a>
						</li>

						<li class="page-item"
							th:each="i : ${#numbers.sequence(1, totalPages)}"
							th:classappend="${i == currentPage} ? 'active'"><a
							class="page-link" th:href="@{'/IES/ED/Eg/page/' + ${i}}"
							th:text="${i}">1</a></li>

						<li class="page-item"
							th:classappend="${currentPage == totalPages} ? 'disabled'">
							<a class="page-link" th:href="@{(${currentPage} + 1)}">Next</a>
						</li>
					</ul>
				</nav>
			</div>
			<div class="d-flex justify-content-center">
				<button class="btn btn-primary mt-3">Generate
					Correspondence</button>
			</div>
		</div>

	</section>
</body>
</html>
