<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{ sidebar :: layout(~{::title} , ~{::section}) }">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>ViewNotices</title>

</head>
<body>
	<section style="height: 93vh;">
		<div class="container ">
			<h2 class="text-center">View Notices</h2>
			<div class="container mt-4">
				<h4>View Notices</h4>

				<div class="table-responsive">
					<table class="table table-bordered">
						<thead class="table-light">
							<tr>
								<th>S.NO</th>
								<th>Case Number</th>
								<th>Plan Name</th>
								<th>Plan Status</th>
								<th>Start Date</th>
								<th>End Date</th>
								<th>Benefit Amount</th>
								<th>Print Notice</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="correspondances,stat :${correspondance}">
								<td th:text="${stat.index+1}"></td>
								<td th:text="${correspondances.caseNo}"></td>
								<td th:text="${correspondances.planName}">SNAP</td>
								<td th:text="${correspondances.planStatus}">Approved</td>
								<td th:text="${correspondances.eligStartDate}">20/10/2021</td>
								<td th:text="${correspondances.eligEndDate}">20/12/2022</td>
								<td th:text="${correspondances.benifitAmt}">$100.00</td>
								<td><a
									th:href="@{/IES/correspondance/toggleNoticeStatus/{notice_id}(notice_id=${correspondances.notice_id})}"
									class="btn btn-primary"> <i class="bi bi-printer"></i> <!-- Bootstrap Icons -->
								</a></td>
							</tr>
						</tbody>
					</table>
				</div>

				<div class="d-flex justify-content-between">
					<p>
						Showing <span th:text="${(currentPage )}"></span> to <span
							th:text="${(currentPage) > totalItems ?  currentPage: (totalPages)}"></span>
						of <span th:text="${totalPages}"></span> entries
					</p>

					<nav>
						<ul class="pagination">
							<li class="page-item"
								th:classappend="${currentPage == 1} ? 'disabled'"><a
								class="page-link" th:href="@{(${currentPage} - 1)}">Previous</a>
							</li>

							<li class="page-item"
								th:each="i : ${#numbers.sequence(1, totalPages)}"
								th:classappend="${i == currentPage} ? 'active'"><a
								class="page-link"
								th:href="@{'/IES/correspondance/cn/page/' + ${i}}"
								th:text="${i}">1</a></li>

							<li class="page-item"
								th:classappend="${currentPage == totalPages} ? 'disabled'">
								<a class="page-link" th:href="@{(${currentPage} + 1)}">Next</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</section>
</body>
</html>
